:root {
    --primary: #165DFF;
}
.btn {
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary);
}